MONGO_DB=mongodb://localhost:27017
MONGO_DB_NAME=games
MONGO_COLLECTION_NAME=games_collection

CLIENT_ID=your_client_id
ACCESS_TOKEN=your_access_token
BASE_URL=https://api.twitch.tv/helix
IGDB_URL=https://api.igdb.com/v4
CLIENT_SECRET=your_client_secret

SOCKET_URL=socket_url
NEO4J_URL=neo4j_url
NEO4J_TOKEN=your_db_token
NEO4J_REFRESH_TOKEN=your_db_refresh_token
NEO4J_CLIENT_ID=your_keycloak_client_id
NEO4J_CLIENT_SECRET=your_keycloak_client_secret
NEO4J_USERNAME=your_keycloak_username
NEO4J_PASSWORD=your_keycloak_password
KEYCLOAK_URL=https://safeguard-platform.m4d.iti.gr/auth/realms/SAFEGUARD
TOPIC_MESSAGE_DONE=10_CRAWLER_DATA

BOOTSTRAP_SERVERS=kafka_server

LANG_DETECT_URL=lang_detect_url
